/* Page Global */

span, .join_us_links_btn i {
	padding-right: 16px;
}
.join_us_links_btn i {
	font-size: 20px;
	vertical-align: middle;
}

.Home_Landing,
.Home_Previous_Events,
.Home_Growth_Community_Showcase {
	min-height: 100vh;
	padding: 100px 0;
}
.Home_Landing,
.Home_Previous_Events {
	min-height: 100vh;
}

.Home_Landing,
.Home_Previous_Events,
.Home_Growth_Community_Showcase,
.Home_Footer {
	background-color: var(--background-color-light-beta);
}

.home_article_header {
	font-size: 48px;
	text-align: center;
	padding: 24px 0;
	background: linear-gradient(to right, #ff0015, #8800ff);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.home_article_paragraph {
	font-size: 24px;
	text-align: center;
	max-width: 720px;
	margin-inline: auto;
	padding: 24px 0;
}
@media (max-width: 960px) {
	.home_article_header {
		font-size: 40px;
	}
	.home_article_paragraph {
		font-size: 20px;
	}
}
@media (max-width: 480px) {
	.home_article_header {
		font-size: 36px;
	}
	.home_article_paragraph {
		font-size: 18px;
	}
}

.circle {
	position: absolute;
	top: -750px;
	right: -750px;
	background-color: rgba(0, 0, 255, 0.03);
	height: 1500px;
	width: 1500px;
	border-radius: 50%;
}
@media (max-width: 1200px) {
	.circle {
		top: -550px;
		right: -600px;
		height: 1200px;
		width: 1200px;
	}	
}
@media (max-width: 720px) {
	.circle {
		top: -310px;
		right: -360px;
		height: 720px;
		width: 720px;
	}	
}

/* Home Landing */

.Home_Landing {
	position: relative;
	padding-top: 100px;
	background-color: linear-gradient(#e1e7f1, #f9f9f9);
	overflow: hidden;
}
.Home_Landing .home_landing_grid_container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 24px;
	justify-content: center;
	align-self: center;
	width: 100%;
	height: 100%;
}
.Home_Landing .home_landing_grid_container h1 {
	font-size: 48px;
	font-weight: 700;
	padding-bottom: 36px;
	text-align: left;
}
.Home_Landing .home_landing_grid_container p {
	font-size: 20px;
}
.Home_Landing .home_landing_grid_container .join_us_links {
	padding: 36px 0;
}
.Home_Landing .home_landing_grid_container .join_us_links .join_us_links_btn {
	display: inline-block;
	color: var(--text-color-light-alpha);
	padding: 24px 36px;
	border-radius: 16px;
	font-size: 16px;
	font-weight: 600;
	margin: 16px;
}
.Home_Landing .home_landing_grid_container .join_us_links .join_us_links_discord {
	background-color: #7289da;
	border: 2px #7289da solid;
}
.Home_Landing .home_landing_grid_container .join_us_links .join_us_links_discord:hover {
	background-color: rgba(114, 137, 218, 0.5);
	color: var(--text-color-dark-alpha);
	transition: all 0.35s ease-in;
}
.Home_Landing .home_landing_grid_container .join_us_links .join_us_links_whatsapp {
	background-color: #128c7e;
	border: 2px #128c7e solid;
}
.Home_Landing .home_landing_grid_container .join_us_links .join_us_links_whatsapp:hover {
	background-color: rgba(18, 140, 126, 0.5);
	color: var(--text-color-dark-alpha);
	transition: all 0.35s ease-in;
}
.Home_Landing .home_landing_grid_container .social_media_icons {
	font-size: 30px;
	max-width: 420px;
	margin: 0 auto;
}

.Home_Landing .home_landing_grid_container_image {
	background-image: url("../../assets/background_images/landing_image.svg");
	height: 480px;
	width: 480px;
	aspect-ratio: 1/1;
	margin: 0 auto;
	-webkit-animation: 6s linear 0s infinite alternate wobble;
    animation: 6s linear 0s infinite alternate wobble;
}
@keyframes wobble {
	0%, 50%, 100%{
		transform: translateY(0px)
		/* transform: rotate(0deg); */
	}
	25% {
		transform: translateY(12px)
		/* transform: rotate(2deg); */
	}
	75% {
		transform: translateY(-12px)
		/* transform: rotate(3deg); */
	}
}

@media (max-width: 1200px) {
	.Home_Landing .home_landing_grid_container h1 {
		font-size: 36px;
	}
	.Home_Landing .home_landing_grid_container p {
		font-size: 18px;
	}
	.Home_Landing .home_landing_grid_container .social_media_icons {
		font-size: 30px;
	}
	.Home_Landing .home_landing_grid_container_image {
		height: 360px;
		width: 360px;
	}
}
@media (max-width: 720px) {
	.Home_Landing {
		padding-bottom: 0;
	}
	.Home_Landing .home_landing_grid_container {
		grid-template-columns: 1fr;
		grid-gap: 100px;
	}
	.Home_Landing .home_landing_grid_container h1 {
		font-size: 30px;
	}
	.Home_Landing .home_landing_grid_container p {
		font-size: 18px;
	}
	.Home_Landing .home_landing_grid_container .social_media_icons {
		font-size: 30px;
	}
	.Home_Landing .home_landing_grid_container_image {
		height: 300px;
		width: 300px;
	}
}

/* Home Intern Showcase */

.Home_Interns_Showcase {
	padding: 60px 0 100px 0;
	height: auto;
	min-height: none;
}
.Home_Interns_Showcase .home_interns_showcase_marquee {
	overflow-x: hidden;
	border-radius: 24px;
}
.Home_Interns_Showcase .home_interns_showcase_marquee::-webkit-scrollbar {
	display: none;
}
.Home_Interns_Showcase .home_interns_showcase_marquee .home_interns_showcase_marquee_scroll {
	display: flex;
	gap: 24px;
	justify-content: space-around;
	align-items: center;
	padding-top: 72px;
	margin: 0 auto;
	padding-inline: 24px;
	width: min-content;
	animation: scroll-x 18s linear infinite;
}
.Home_Interns_Showcase .home_interns_showcase_marquee .home_interns_showcase_marquee_scroll .home_interns_showcase_marquee_item {
	background-color: var(--background-color-light-beta);
	height: 150px;
	width: 300px;
	border-radius: 16px;
	margin: 0 auto;
}
.Home_Interns_Showcase .home_interns_showcase_marquee .home_interns_showcase_marquee_scroll .home_interns_showcase_marquee_item_kpmg {
	background-image: url('../../assets/partners/KPMG-LOGO.jpeg');
}
.Home_Interns_Showcase .home_interns_showcase_marquee .home_interns_showcase_marquee_scroll .home_interns_showcase_marquee_item_goldman_sachs {
	background-image: url('../../assets/partners/goldman-sachs-logo.png');
}
.Home_Interns_Showcase .home_interns_showcase_marquee .home_interns_showcase_marquee_scroll .home_interns_showcase_marquee_item_unilever {
	background-image: url('../../assets/partners/unilever.jpg');
}
.Home_Interns_Showcase .home_interns_showcase_marquee .home_interns_showcase_marquee_scroll .home_interns_showcase_marquee_item_wipro {
	background-image: url('../../assets/partners/wipro.jpg');
}
.Home_Interns_Showcase .home_interns_showcase_marquee .home_interns_showcase_marquee_scroll .home_interns_showcase_marquee_item_amazon {
	background-image: url('../../assets/partners/amazon.jpeg');
}
.Home_Interns_Showcase .home_interns_showcase_marquee .home_interns_showcase_marquee_scroll .home_interns_showcase_marquee_item_back_of_america {
	background-image: url('../../assets/partners/bank-of-america.svg');
}
.Home_Interns_Showcase .home_interns_showcase_marquee .home_interns_showcase_marquee_scroll .home_interns_showcase_marquee_item_bicon {
	background-image: url('../../assets/partners/biocon.jpeg');
}
.Home_Interns_Showcase .home_interns_showcase_marquee .home_interns_showcase_marquee_scroll .home_interns_showcase_marquee_item_times_internet {
	background-image: url('../../assets/partners/times_internet.png');
}

@media (max-width: 1200px) {
	.Home_Interns_Showcase .home_interns_showcase_marquee .home_interns_showcase_marquee_scroll .home_interns_showcase_marquee_item {
		height: 120px;
		width: 200px;
	}
}
@keyframes scroll-x {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(calc(-100% - 24px));
	}
}

/* Home Previous Events */

.Home_Previous_Events .home_previous_events_grid_container {
	display: grid;
	grid-gap: 24px;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
	width: fit-content;
	padding-top: 72px;
	margin: 0 auto;
}
.Home_Previous_Events .home_previous_events_grid_container .home_previous_events_grid_container_item {
	height: 300px;
	width: 480px;
	border: 1px solid var(--border-color);
	border-radius: 16px;
	/* background-color: rgba(0, 0, 0, 0.1); */
}
.Home_Previous_Events .home_previous_events_grid_container .home_previous_events_grid_container_item_1 {
	background-image: url('../../assets/previous_events/image1.png');
}
.Home_Previous_Events .home_previous_events_grid_container .home_previous_events_grid_container_item_2  {
	background-image: url('../../assets/previous_events/image2.png');
}
.Home_Previous_Events .home_previous_events_grid_container .home_previous_events_grid_container_item_3  {
	background-image: url('../../assets/previous_events/image3.png');
}
.Home_Previous_Events .home_previous_events_grid_container .home_previous_events_grid_container_item_4  {
	background-image: url('../../assets/previous_events/image4.png');
}
.Home_Previous_Events .home_previous_events_grid_container .home_previous_events_grid_container_item:hover {
	display: block;
	transform: scale(1.05);
	transition: all 0.35s ease;
}

@media (max-width: 1200px) {
	.Home_Previous_Events .home_previous_events_grid_container .home_previous_events_grid_container_item {
		height: 260px;
		width: 400px;
	}
}
@media (max-width: 850px) {
	.Home_Previous_Events .home_previous_events_grid_container {
		grid-template-columns: 1fr;
	}
	.Home_Previous_Events .home_previous_events_grid_container .home_previous_events_grid_container_item {
		height: 240px;
		width: 360px;
	}
}
@media (max-width: 380px) {
	.Home_Previous_Events .home_previous_events_grid_container .home_previous_events_grid_container_item {
		height: 200px;
		width: 300px;
	}
}

/* Home Growth Community Showcase */

.Home_Growth_Community_Showcase {
	padding: 100px 0 300px 0;
}
.Home_Growth_Community_Showcase .home_growth_community_showcase_grid_container {
	display: grid;
	grid-gap: 24px;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
	width: fit-content;
	padding-top: 72px;
	margin: 0 auto;
}
.Home_Growth_Community_Showcase .home_growth_community_showcase_grid_container .home_growth_community_showcase_grid_container_item {
	height: 480px;
	width: 480px;
	border-radius: 16px;
}
.Home_Growth_Community_Showcase .home_growth_community_showcase_grid_container .home_growth_community_showcase_grid_container_item .home_growth_community_showcase_grid_container_item_background_tint {
	border-radius: 16px;
	color: var(--text-color-light-alpha);
	text-align: center;
	padding: 24px;
	margin: 0;
	height: 100%;
	width: 100%;
	backdrop-filter: blur(4px);
}
.Home_Growth_Community_Showcase .home_growth_community_showcase_grid_container .home_growth_community_showcase_grid_container_item_speakers_and_events {
	background-image: url('../../assets/events/speakers&events.jpeg');
}
.Home_Growth_Community_Showcase .home_growth_community_showcase_grid_container .home_growth_community_showcase_grid_container_item_speakers_and_events .home_growth_community_showcase_grid_container_item_background_tint {
	background: linear-gradient(156.04deg, rgba(255, 0, 0, 0.5) 0%, rgba(219, 0, 255, 0.5) 100%);
}
.Home_Growth_Community_Showcase .home_growth_community_showcase_grid_container .home_growth_community_showcase_grid_container_item_industry_connect {
	background-image: url('../../assets/events/industry_connect.jpeg');
}
.Home_Growth_Community_Showcase .home_growth_community_showcase_grid_container .home_growth_community_showcase_grid_container_item_industry_connect  .home_growth_community_showcase_grid_container_item_background_tint {
	background: linear-gradient(156.04deg, rgba(66, 255, 0, 0.5) 0%, rgba(250, 255, 0, 0.5) 100%);
}
.Home_Growth_Community_Showcase .home_growth_community_showcase_grid_container .home_growth_community_showcase_grid_container_item_applied_management {
	background-image: url('../../assets/events/applied_management.jpeg');
}
.Home_Growth_Community_Showcase .home_growth_community_showcase_grid_container .home_growth_community_showcase_grid_container_item_applied_management  .home_growth_community_showcase_grid_container_item_background_tint {
	background: linear-gradient(156.04deg, rgba(99, 251, 215, 0.5) 0%, rgba(5, 222, 250, 0.5) 100%);
}
.Home_Growth_Community_Showcase .home_growth_community_showcase_grid_container .home_growth_community_showcase_grid_container_item_innov8 {
	background-image: url('../../assets/events/innov8.jpeg');
}
.Home_Growth_Community_Showcase .home_growth_community_showcase_grid_container .home_growth_community_showcase_grid_container_item_innov8  .home_growth_community_showcase_grid_container_item_background_tint {
	background: linear-gradient(156.04deg, rgba(80, 35, 217, 0.5) 0%, rgba(217, 35, 189, 0.5) 100%);
}

.Home_Growth_Community_Showcase .home_growth_community_showcase_grid_container .home_growth_community_showcase_grid_container_item h1 {
	font-size: 30px;
	font-weight: 900;
	padding-bottom: 48px;
}
.Home_Growth_Community_Showcase .home_growth_community_showcase_grid_container .home_growth_community_showcase_grid_container_item p {
	font-size: 18px;
	font-weight: 700;
}

@media (max-width: 1100px) {
	.Home_Growth_Community_Showcase .home_growth_community_showcase_grid_container .home_growth_community_showcase_grid_container_item {
		height: 360px;
		width: 360px;
	}
	.Home_Growth_Community_Showcase .home_growth_community_showcase_grid_container .home_growth_community_showcase_grid_container_item h1 {
		font-size: 24px;
	}
	.Home_Growth_Community_Showcase .home_growth_community_showcase_grid_container .home_growth_community_showcase_grid_container_item p {
		font-size: 16px;
	}
}
@media (max-width: 780px) {
	.Home_Growth_Community_Showcase {
		padding: 100px 0 300px 0;
	}
	.Home_Growth_Community_Showcase .home_growth_community_showcase_grid_container {
		grid-template-columns: 1fr;
	}
}
@media (max-width: 600px) {
	.Home_Growth_Community_Showcase {
		padding: 100px 0 480px 0;
	}
}
@media (max-width: 480px) {
	.Home_Growth_Community_Showcase {
		padding: 100px 0 540px 0;
	}
	.Home_Growth_Community_Showcase .home_growth_community_showcase_grid_container .home_growth_community_showcase_grid_container_item h1 {
		font-size: 24px;
	}
	.Home_Growth_Community_Showcase .home_growth_community_showcase_grid_container .home_growth_community_showcase_grid_container_item p {
		font-size: 16px;
	}
}
@media (max-width: 394px) {
	.Home_Growth_Community_Showcase .home_growth_community_showcase_grid_container .home_growth_community_showcase_grid_container_item {
		min-height: 300px;
		height: auto;
		width: 300px;
	}
	.Home_Growth_Community_Showcase .home_growth_community_showcase_grid_container .home_growth_community_showcase_grid_container_item .home_growth_community_showcase_grid_container_item_background_tint {
		height: auto;
	}
	.Home_Growth_Community_Showcase .home_growth_community_showcase_grid_container .home_growth_community_showcase_grid_container_item h1 {
		font-size: 22px;
	}
	.Home_Growth_Community_Showcase .home_growth_community_showcase_grid_container .home_growth_community_showcase_grid_container_item p {
		font-size: 16px;
		font-weight: normal;
	}
}

/* Home Footer */

.Home_Footer {
	position: relative;
	bottom: 0;
	left: 0;

	display: block;
	padding: 0;
	margin: 0;
}
.Home_Footer .footer_card_container {
	position: absolute;
	bottom: 200px;
	left: 0;
	right: 0;
	margin-inline: auto;
	max-width: 840px;
	height: auto;
	padding-inline: 16px;
	z-index: 2;
}
.Home_Footer .footer_card_container .footer_card {
	border-radius: 16px;
	padding: 48px;
	color: var(--text-color-light-alpha);
	text-align: left;
	background: linear-gradient( 135deg,rgba(78, 64, 245, 1) 0%,rgba(128, 118, 254, 1) 100%);
}
.Home_Footer .footer_card_container .footer_card h1 {
	font-size: 30px;
	font-weight: 700;
	padding-bottom: 24px;
}
.Home_Footer .footer_card_container .footer_card p {
	font-size: 18px;
	padding-top: 18px;
}

.Home_Footer footer {
	padding: 240px 0 60px 0;
	text-align: center;
	font-size: 20px;
	/* background-color: var(--tertiary-color-alpha); */
	background-image: url(../../assets/background_images/wave.svg);
	background-position: right;
	color: var(--text-color-light-alpha);
	z-index: 2;
}
.Home_Footer footer .footer_logo {
	background-image: url(../../assets/logo/logo_no_bg.png);
	height: 120px;
	width: 120px;
	margin: 0 auto;
}
@media (max-width: 480px) {
	.Home_Footer footer {
		background-position: -254px;
		font-size: 16px;
	}
	.Home_Footer  .footer_card_container .footer_card h1 {
		font-size: 24px;
	}
	.Home_Footer  .footer_card_container .footer_card p {
		font-size: 16px;
	}
}