header {
	position: fixed;
	top: 0;
	left: 0;
	padding: 36px;
	font-size: 18px;
	font-weight: 600;
	font-family: "Roboto", sans-serif;
	z-index: 5;
}
header.header_background {
	background-color: var(--background-color-light-alpha);
	transition: all 0.35s ease-out;
}
header:hover {
	background-color: var(--background-color-light-gamma);
	transition: all 0.35s ease-out;
}

header .header_logo {
	font-size: 24px;
	font-weight: 700;
}

header ul {
	display: inline-flex;
	gap: 36px;
	justify-content: center;
	align-items: center;
}
header ul li:hover {
	color: var(--tertiary-color-beta);
	transition: all 0.35s ease-out;
}

header .toggle_menu_container {
	display: none;
}
@media (max-width: 1200px) {
	header .toggle_menu_container {
		display: block;
		font-size: 24px;
	}
	header ul {
		display: none;
	}
}
@media (max-width: 480px) {
	header {
		padding: 24px;
	}
	header .header_logo {
		font-size: 18px;
	}
}
